<!-- head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12 formularios"> 
				<form action="/users/profile/<%= logInDb.id %>" method ="GET">
					<div>
						<input type="email" name="email" value="" placeholder="EMAIL">
					</div>
					<div>
						<input type="password" name="pass" value="" placeholder="PASSWORD">
					</div>
					<div>
						<label>Recordarme</label>
						<input type="checkbox" name="recordarme" value="RECORDARME">
					</div>
					<div>
						<button class="formularios" type="submit">Ingresar</button>
					</div>
				</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>