<!-- head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12 texto"> 
				<form action="/users/profile" method ="GET">
					<div>
						<input type="file" name="imagen" value="">
					</div>
					<div>
						<input type="text" name="producto" value="" placeholder="Nombre del producto">
					</div>
					<div>
						<input type="text" name="descripcion" value="" placeholder="Descripción del producto">
					</div>
					<div>
						<input type="date" name="date" value="">
					</div>
					<div>
						<button class="formularios" type="submit">Agregar producto</button>
					</div>
				</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>